<style>
    .footline {
        font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 7pt;
        font-weight: lighter;
    }
</style>

<htmlpageheader name="myheader">
    <table style="width: 100%">
        <tr>
            <td class="ta-left">
                <h1>ANGEBOT</h1>
            </td>

            <td class="ta-right">
                <img src="img/logo.png" style="width:100%; max-width:150px;">
            </td>
        </tr>
    </table>
</htmlpageheader>

<htmlpagefooter name="myfooter">
    <table style="width:100%;" cellpadding="0" cellspacing="0" >
        <tbody>
            <tr>
                <td class="footline" style="width:3.5cm;"><b>Borstel AG</b></td>
                <td class="footline" style="width:3.5cm;">Niederlassung:</td>
                <td class="footline" style="width:4cm;">Gesch&auml;ftsf&uuml;hrer:</td>
                <td class="footline" style="width:7cm;">Kaiserliche Bank Mandala</td>
            </tr>
            <tr>
                <td class="footline">Bahnhofsstraße 42</td>
                <td class="footline">Palastalle 90-92</td>
                <td class="footline">Xue Ling Pi</td>
                <td class="footline">BLZ 123 123 20 Konto: 123 123</td>
            </tr>
            <tr>
                <td class="footline">93672 Lummerland</td>
                <td class="footline">58745 Mandala</td>
                <td class="footline">Amtsgericht Mandala: HRB 12345</td>
                <td class="footline">IBAN: MA86 1234 1234 0000 1234 80 BIC: MALADA88MAN</td>
            </tr>
            <tr>
                <td class="footline">Tel.: +49 1234 123456-0</td>
                <td class="footline">Tel.: +49 1234 123456-55</td>
                <td class="footline">UST-IdNr.: DE123456789</td>
            </tr>
            <tr>
                <td class="footline">Steuer-Nr.: 11/222/3333/0</td>
            </tr>
            <tr>
                <td class="footline">E-Mail: vertrieb@borstel.local</td>
                <td class="footline">E-Mail: info@borstel.local</td>
                <td class="footline"><b>Internet: www.borstel.local</b></td>
            </tr>
        </tbody>
    </table>
</htmlpagefooter>