{% extends "base.twig" %}

{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Random Test Data</h1>
      <div class="row center">
        <h5 class="header col s12 light">A Website which looks way more fancy than it is!</h5>
      </div>
      <div class="row center">
        <a href="create/10" id="download-button" class="btn-large waves-effect waves-light orange">Create 10</a>
      </div>
      <br><br>
    </div>
  </div>
{% endblock %}